@inherits LayoutComponentBase

<PageTitle>DepoQuick</PageTitle>

<nav class="l left drawer center-align surface-container">
    <NavMenu/>
</nav>
<dialog class="left surface-container" id="dialog">
    <nav class="drawer">
        <NavMenu/>
    </nav>
</dialog>
<nav class="m s surface-container medium-padding no-margin">
    <button class="absolute circle transparent" data-ui="#dialog">
        <i>menu</i>
    </button>
    <h5 class="max center-align">
        <i class="medium">warehouse</i>
        <span class="tiny-margin">DepoQuick</span>
    </h5>
</nav>
@Body
<Notification />