<NavLink href="Login">
    <i>login</i>
    <span>Log In</span>
</NavLink>
<NavLink href="Register">
    <i>passkey</i>
    <span>Register</span>
</NavLink>
<NavLink href="Deposits">
    <i>garage_door</i>
    <span>Client: Deposits</span>
</NavLink>