@using BusinessLogic.Services
@using UI.Data
@inject NavigationService Navigation;
@inject UserService User;

@code {
    private string _message = string.Empty;
    private string _type = string.Empty;

    protected override void OnInitialized()
    {
        Navigation.OnSetNavigation += UpdateNavigation;
    }

    public void UpdateNavigation()
    {
        InvokeAsync(StateHasChanged);
    }
}

@foreach (var item in Navigation.Links.Where(item => !item.IsAdmin || User.IsAdmin()))
{
    <NavLink href="@item.Name">
        <i>@item.Icon</i>
        <span>@item.Name</span>
    </NavLink>
}