@using UI.Data
@inject UserController User;

@code {

    protected override void OnInitialized()
    {
        User.OnLoginStatusChanged += UpdateNavbar;
    }

    public void Dispose()
    {
        User.OnLoginStatusChanged -= UpdateNavbar;
    }
    
    private void UpdateNavbar()
    {
        InvokeAsync(StateHasChanged);
    }

}

@if (User.IsLoggedIn)
{
    <NavLink href="Deposits">
        <i>garage_door</i>
        <span>Deposits</span>
    </NavLink>
    <NavLink href="Bookings">
        <i>book</i>
        <span>Bookings</span>
    </NavLink>

    @if (User.IsAdmin)
    {
        <NavLink href="Promotions">
            <i>sell</i>
            <span>Promotions</span>
        </NavLink>
    }

    <NavLink href="Logout">
        <i>logout</i>
        <span>Log Out</span>
    </NavLink>
}
else
{
    <NavLink href="Login">
        <i>login</i>
        <span>Log In</span>
    </NavLink>
    <NavLink href="Register">
        <i>passkey</i>
        <span>Register</span>
    </NavLink>
}