@using UI.Data
@inject NotificationService NotificationService

@code {
    private string _message = string.Empty;
    private string _type = string.Empty;

    protected override void OnInitialized()
    {
        NotificationService.OnNotify += ShowNotification;
    }

    private void ShowNotification(string message, string type)
    {
        _message = message;
        _type = type;
        InvokeAsync(StateHasChanged);
    }

}

@if (_message != string.Empty)
{
    <div
        class="notification medium-padding @_type"
        @onclick="NotificationService.Clear">
        @_message
    </div>
}

<style>
    .notification {
        z-index: 1000;
        width: 100%;
        cursor: pointer;
        position: sticky;
        bottom: 0;
    }
</style>