@using UI.Data
@inject NotificationService NotificationService

@code {
    private string _message = string.Empty;
    private string _type = string.Empty;

    protected override void OnInitialized()
    {
        NotificationService.OnNotify += ShowNotification;
    }

    private void ShowNotification(string message, string type)
    {
        _message = message;
        _type = type;
        InvokeAsync(StateHasChanged);
    }

}

@if (_message != string.Empty)
{
    <div
        class="medium-padding @_type absolute bottom"
        style="z-index: 1000; width: 100%; cursor: pointer;"
        @onclick="NotificationService.Clear">
        @_message
    </div>
}