@code {
    private string _errorMessage = string.Empty;

    public string ErrorMessage
    {
        get => _errorMessage;
        set
        {
            _errorMessage = value;
            StateHasChanged();
        }
    }

    private void EmptyMessage() => ErrorMessage = string.Empty;

}

@if (ErrorMessage != string.Empty)
{
    <div class="medium-padding error absolute max bottom small-round" style="
    bottom: 1rem; cursor: pointer;" @onclick="EmptyMessage">@ErrorMessage</div>
}