@page "/register"

<PageTitle>Register</PageTitle>

<div class="grid large-width">
    <div class="s12">
        <i class="extra">person_add</i>
        <h5 class="center-align">Create new user</h5>
        <div class="small-space"></div>
    </div>
    <div class="s12">
        <div class="field label prefix border left-align">
            <i>mail</i>
            <input type="email">
            <label>Email</label>
        </div>
    </div>
    <div class="s12">
        <div class="field label prefix border left-align">
            <i>key</i>
            <input type="password">
            <label>Password</label>
        </div>
    </div>
    <div class="s12">
        <button class="responsive small-elevate small-round large no-margin">Login</button>
    </div>
</div>