@page "/Bookings"
@inherits AuthEnforce

<main class="responsive">
    <h6 class="vertical-margin">Bookings</h6>
    <article>
        <BookingItem Id="1" StartDate="DateOnly.MinValue" EndDate="DateOnly.MaxValue" />
    </article>
</main>