@page "/deposits"


<title>Deposits</title>

<main class="responsive">
    <h6 class="vertical-margin">Deposits</h6>
    <article>
        <DepositItem Id="1" Area="A" Size="Small" Discount="50" ClimateControl="true" />
        <DepositBookingModal DepositId="1" />
    </article>
</main>