@page "/deposits"
@inherits AuthEnforce
@using UI.Data
@inject AuthController Auth
@inject DepositController DepositController

@code {

    protected override void OnAfterRender(bool firstRender)
    {
        
    }

}

<title>Deposits</title>

<main class="responsive">
    <h6 class="vertical-margin">Deposits</h6>
    <article>
        @foreach (var deposit in DepositController.ListAllDeposits(Auth.CurrentCredentials))
        {
            <DepositItem Id="@deposit.Id" Area="@deposit.Area" Size="@deposit.Size" ClimateControl="@deposit.ClimateControl"/>
        }
    </article>
</main>