@page "/register"
@using BusinessLogic.DTOs
@using BusinessLogic.Exceptions
@using DataAccess.Exceptions
@using DateRange
@using UI.Data
@inject UserController User
@inject NavigationManager NavigationManager
@inject NotificationService NotificationService

@code {

    private RegisterDto _registerDto = new() { Rank = "Client" };

    private void ConfirmRegister()
    {
        try
        {
            User.Register(_registerDto);
            NotificationService.ShowMessage("User registered successfully. You can now log in.");
            NavigationManager.NavigateTo("/Login");
        }
        catch (Exception e) when (e is BusinessLogicException || e is DataAccessException || e is DateRangeException)
        {
            NotificationService.ShowError(e.Message);
        }
        catch (DataAccessException e)
        {
            NavigationManager.NavigateTo("/Logout");
            NotificationService.ShowError(e.Message);
        }
        catch (NullReferenceException)
        {
            NotificationService.ShowError("Fields cannot be empty");
        }
        catch (Exception e)
        {
            NotificationService.ShowError("An unexpected error occurred. Please try again later.");
        }
    }

}

<PageTitle>Register</PageTitle>

<main class="responsive middle-align center-align">
    <form class="grid large-width" @onsubmit="ConfirmRegister">
        <div class="s12">
            <i class="extra">person_add</i>
            <h5 class="center-align">Create new user</h5>
            <div class="small-space"></div>
        </div>
        <div class="s12">
            <div class="field label prefix border left-align">
                <i>person</i>
                <input type="text" @bind="_registerDto.NameSurname" required>
                <label>Name and Surname</label>
            </div>
        </div>
        <div class="s12">
            <div class="field label prefix border left-align">
                <i>mail</i>
                <input type="email" @bind="_registerDto.Email" required>
                <label>Email</label>
            </div>
        </div>
        <div class="s12">
            <div class="field label prefix border left-align">
                <i>key</i>
                <input type="password" @bind="_registerDto.Password" required>
                <label>Password</label>
            </div>
        </div>
        <div class="s12">
            <div class="field label border left-align">
                <input type="password" @bind="_registerDto.PasswordConfirmation" required>
                <label>Confirm password</label>
            </div>
        </div>
        <div class="s12">
            <button type="submit" class="responsive small-elevate small-round large no-margin">Register</button>
        </div>
    </form>
</main>